* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* The grid: Three equal columns that floats next to each other */
.column {
  float: left;
 
  text-align: center;
  cursor: pointer;
  margin:0;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.columninfo {
  float: left;
  width: 80%;
  padding: 10px;
  height: 550px;
  margin:0;/* Should be removed. Only for demonstration */
}
.columnnav {
  float: left;
  width: 20%;
  padding: 10px;
  height: 550px;
  margin:0;/* Should be removed. Only for demonstration */
}
.nav {
  background-color: #f1f1f1;
  padding: 0px;
  margin:0;
  text-align: center;
  font-size: 15px;
}
.footer {
  float: bottom;
  width: 100%;
  padding: 10px;
height: 10%;
  
}
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
ul.nav {
  background: deepskyblue;

  text-align: center;
}

li.nav {
  display: inline-block;
  background: tomato;
  /* padding: .5em; */
}